@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  }
}

/* Custom utility for hiding elements */
[x-cloak] {
    display: none;
}
